@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url("./reset.css");

:root {
    --max-width-desktop: 1080px;
    --cor-primaria: #2070f5;
    --cor-segundaria: #090023;
}

.header,
.main,
.footer__container {
    width: var(--max-width-desktop);
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}

.header {
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid var(--cor-primaria);
}

.header__links {
    display: flex;
    gap: 20px;
}

.header__link {
    font-size: 18px;
    color: var(--cor-primaria);
}

.footer {
    background-color: var(--cor-segundaria);
    color: #ffffff;
    padding: 30px 0;
}

.footer__container {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer__contact h2 {
    font-size: 18px;
} 

.footer__icons {
    height: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__parceria {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6px;
}

.footer__logo {
    width: 300px;
    height: auto;
}